spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/UniProjJava
    username: postgres
    password: admin
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  security:
    user:
      roles: STUDENT

  mvc:
    static-path-pattern: /**