<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register</title>
</head>
<body>
    <form th:action="@{/register}" th:object="${student}" method="post">
        <label>Email:</label>
        <input type="email" th:field="*{email}" required>
        <label>Name:</label>
        <input type="text" th:field="*{name}" required>
        <label>Surname:</label>
        <input type="text" th:field="*{surname}" required>
        <label>Group ID:</label>
        <input type="text" th:field="*{group.id}" required>
        <label>Password:</label>
        <input type="password" th:field="*{password}" required>
        <button type="submit">Register</button>
    </form>
</body>
</html>